<!DOCTYPE html>
<html>

<head>

   
{{>link}}

</head>

<body>

 
 {{>navbar}}
    <!-- main_header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side dev -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://www.transparentpng.com/thumb/boy/MQZkNR-cartoon-charactersthe-boss-baby-pngu.png" alt="Cartoon character, unhappy boy clipart hd download @transparentpng.com">
                        </figure>
                    </div>


                    <!-- right side dev -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the My Weather Site</p>
                        <h1>I am <span class="text_clr">Android developer</span> now learning Node js.</h1>
                        <a href="https://www.youtube.com/channel/UCeAQiG0x-gzYzn3N2p9xLDw/videos"><button>About me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

     <!-- footer code -->
   {{>footer}}

</body>

</html>